<h1>Pages#contact</h1>
<p><%= number_to_phone "0271793508" %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "161344343412431" %></p>